<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spell Crack</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="container text-center">
    <div class="logo mb-2">
      <svg id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64">
        <defs>
          <filter id="blur1" x="-20%" y="0" width="140%">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0.75" />
          </filter>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:#F90E57;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#4D0F0B;stop-opacity:1" />
          </linearGradient>
        </defs>
        <rect width="100%" height="100%" fill="url(#grad1)" rx="11.228070175438596" />
        <g fill="#FFF" text-anchor="middle" font-family="Helvetica,Verdana,Geneva,DejaVu Sans,sans-serif" font-weight="bold" text-rendering="geometricPrecision" font-size="51.2">
          <text fill="#010101" fill-opacity=".3" textLength="64" x="34" y="48.526315789473685" filter="url(#blur1)">S</text>
          <text fill="#010101" fill-opacity=".6" textLength="64" x="33.5" y="49.026315789473685" filter="url(#blur1)">S</text>
          <text textLength="64" x="32" y="50.526315789473685">S</text>
        </g>
      </svg>
      <svg id="svg2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64">
        <defs>
          <filter id="blur2" x="-20%" y="0" width="140%">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0.75" />
          </filter>
          <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:#733BC8;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#3D0F08;stop-opacity:1" />
          </linearGradient>
        </defs>
        <rect width="100%" height="100%" fill="url(#grad2)" rx="11.228070175438596" />
        <g fill="#FFF" text-anchor="middle" font-family="Helvetica,Verdana,Geneva,DejaVu Sans,sans-serif" font-weight="bold" text-rendering="geometricPrecision" font-size="51.2">
          <text fill="#010101" fill-opacity=".3" textLength="64" x="34" y="48.526315789473685" filter="url(#blur2)">C</text>
          <text fill="#010101" fill-opacity=".6" textLength="64" x="33.5" y="49.026315789473685" filter="url(#blur2)">C</text>
          <text textLength="64" x="32" y="50.526315789473685">C</text>
        </g>
      </svg>
    </div>
    <h1>Spell Crack</h1>
    {% block content %}
    {% endblock %}
    <div class="result-section">
      <ul class="list-group">
        {% for word in result %}
        <li class="list-group-item">{{ word }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <footer class="py-2 text-center"><small>&copy; 2020 HappyHome</small></footer>
  <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>