{% extends "base.html" %}
{% block content %}
<form class="form-crack" method="POST" action="{{ url_for('index') }}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="wordField" name="word" placeholder="Word" value="{{ word }}" aria-label="Word" aria-describedby="clearWord" required autofocus>
    <div class="input-group-append">
      <button class="btn btn-primary" id="clearWord" type="button" onclick="const word = document.getElementById('wordField'); word.value = ''; word.focus(); return false;">&times;</button>
    </div>
  </div>
  <div class="form-group">
    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="checkbox" name="count-2"> 2
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="count-3"> 3
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="count-4"> 4
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="count-5"> 5
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="count-6"> 6
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="count-7"> 7
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="count-8"> 8
      </label>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Crack</button>
</form>
{% endblock %}